@keyframes translateUpDown {
  0%,100% {
    background-position: 0px 0px;
  }
  50% {
    background-position: 0px -30px;
  }
}

.App {
  text-align: center;
}
.appcss{
  overflow: hidden;
  background-image: url(./curvesBG.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* this line of background-position is put to hide the rough edges of the background vector image (svg)
   */
  animation: translateUpDown 5s infinite;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
